$Very_Dark_Blue:hsl(235, 21%, 11%);
$Very_Dark_Desaturated_Blue: hsl(235, 24%, 19%);
$Very_Dark_Grayish_Blue: hsl(237, 14%, 26%);
$Very_Less_Dark_Grayish_Blue: hsl(233, 14%, 35%);
$linear-gradient: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
$Bright_Blue:hsl(220, 98%, 61%);


*{
    font-size: 18px;
    list-style-type: none;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    body{
        background-color:$Very_Dark_Blue;
    }
}

.conteiner{
    margin: 0 auto;
    display: grid;
    justify-content:center;
    width:100%;
    
    img{
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        z-index: -1;
    }

    .text-div{
        display: grid;
        align-items: center;
        justify-content:center;
        justify-self: center;
        align-self: center;
        width:100%;
        margin-top: 5.6em;

        h1{
            font-weight: 700;
            font-size: 2.18em;
        }
        ul{
            background-color:$Very_Dark_Desaturated_Blue;
            border-radius: 5px;
            padding-left: 0;
            display: flex;
            width:100%;
            flex-direction: column;
            justify-items: center;
            margin-bottom: 0%;

            li{
            height: 20px;
            width: 100%;
            padding:20px 0 20px 0px;
            border-bottom-style: solid;
            border-width: 2px;
            border-radius: 0px 0px 0px 0px;
            border-color: $Very_Dark_Grayish_Blue;
            justify-self: center;
        }

        }
        
    }   
}

footer{
    background-color:$Very_Dark_Desaturated_Blue;
    margin-top:0;
    height:1em;
    display: flex;
    justify-content: space-between;
    padding: 1em;

    a{
        margin: 0 1em;
        text-decoration: none;
        color: $Very_Dark_Grayish_Blue;
    }
    a:hover{
        transition: 0.2s;
        transform: scale(1.1);
        color: $Bright_Blue;
    }
    .toggle{
        color:white;
    }
}



.credits{
    width:100%;
    text-align:center;
    margin-top: 2em;

    a{
        text-decoration: none;
        color: hsl(234, 39%, 85%);
    }
    a:hover{
        transition:.2s;
        color: $Bright_Blue;
    }

}